[submodule "cczoo/ehsm/ehsm"]
	path = cczoo/ehsm/ehsm
	url = https://github.com/intel/ehsm.git
[submodule "cczoo/rats-tls/rats-tls"]
	path = cczoo/rats-tls/rats-tls
	url = https://github.com/inclavare-containers/rats-tls.git
[submodule "cczoo/vertical_fl/vfl-fedlearner"]
	path = cczoo/vertical_fl/vfl-fedlearner
	url = https://github.com/bytedance/fedlearner.git
