[submodule "cczoo/ehsm/ehsm"]
	path = cczoo/ehsm/ehsm
	url = https://github.com/intel/ehsm.git
[submodule "cczoo/rats-tls/rats-tls"]
	path = cczoo/rats-tls/rats-tls
	url = https://github.com/inclavare-containers/rats-tls.git
[submodule "cczoo/librats/librats"]
	path = cczoo/librats/librats
	url = https://github.com/inclavare-containers/librats.git
[submodule "cczoo/vertical_fl/vertical_fl"]
	path = cczoo/vertical_fl/vertical_fl
	url = https://github.com/bytedance/fedlearner.git
