absl-py==2.0.0
accelerate==0.25.0
aiohttp==3.9.1
aiorwlock==1.3.0
beautifulsoup4==4.12.2
boto3==1.34.13
botocore==1.34.13
colorful==0.5.5
coverage==7.4.0
cryptography==41.0.7
dnspython==2.4.2
fastapi==0.108.0
fonttools==4.47.0
GitPython==3.1.40
google-api-core==2.15.0
google-auth==2.26.1
Jinja2==3.1.2
jsonschema==4.20.0
llvmlite==0.41.1
lxml==5.0.0
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
more-itertools==10.1.0
numba==0.58.1
nvidia-nccl-cu12==2.18.1
onnxruntime==1.16.3
optimum==1.16.1
optimum-intel==1.12.3
pandas==2.1.4
pdf2image==1.16.3
platformdirs==4.1.0
posthog==3.1.0
psutil==5.9.7
pydantic==1.10.13
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
python-dotenv==1.0.0
python-frontmatter==1.0.1
pytz==2023.3.post1
referencing==0.32.0
rpds-py==0.16.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.16.0
starlette==0.32.0.post1
tensorflow-hub==0.15.0
torch==2.1.2
torchvision==0.16.2
trio==0.23.2
triton==2.1.0
wcwidth==0.2.12
